

.content-area {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex-shrink: 0;

}

.content-area-overflow {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.content-area-inner {
  width: 100%;
  height: 500%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.splash-div {
  width: 100%;
  height: 20%;
}
.about-div {
  width: 100%;
  height: 20%;
}
.services-div {
  width: 100%;
  height: 20%;
}
.projects-div {
  width: 100%;
  height: 20%;
}
.contact-div {
  width: 100%;
  height: 20%;
}
